module.exports = migrate;

const SEED_SQL = `
{{#prettyPrint}}{{{seed}}}{{/prettyPrint}}
`;

const SCHEMA_SQL = `
{{#prettyPrint}}{{{schema}}}{{/prettyPrint}}
`;

/**
 * @param {Sequelize} sequelize
 * @return {Promise}
**/
function migrate(sequelize) {
    //Your migration here
}
