    {{#schema}}
    -- SCHEMA CHANGES
    -- DDL is not transactional and causes implicit COMMIT;
    -- thus must be executed outside of a transaction
{{#prettyPrint}}{{{schema}}}{{/prettyPrint}}
    {{/schema}}
    {{#seed}}
    -- DATA CHANGES
    SET autocommit=0;
    START TRANSACTION;
{{#prettyPrint}}{{{seed}}}{{/prettyPrint}}
    COMMIT;
    {{/seed}}
